extends layout.pug
 
block variables
    - let title = 'Article';
 
block content
    div(style={
        'align-items':'center',
        'justify-content':'center'

        })
        h1(style={
        'font-family': 'Montserrat',
        'text-align': 'center'

        })= article.title
        h2(style={
        'font-family': 'Montserrat',
        'text-align':'center',
        })= "Ecrit par "+article.author.name 
        p(style={
        'font-family': 'Montserrat',
        'text-align':'center',
        })= article.content