<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        script console.log('test');
    body
        h1 Salut #{prenom}
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore eligendi doloribus quod ex similique, sed rerum asperiores. Corrupti tempore eos rem cumque vero nostrum illo, perspiciatis commodi minima, soluta laudantium!
        ul 
            each val in [1,2,3,4,5]
                li= val